@model HappyShare.Models.SharedItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SharedItem</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactorPhone" class="control-label"></label>
                <input asp-for="ContactorPhone" class="form-control" />
                <span asp-validation-for="ContactorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactorEmail" class="control-label"></label>
                <input asp-for="ContactorEmail" class="form-control" />
                <span asp-validation-for="ContactorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <!-- Just for keep the link -->
                <input type="hidden" asp-for="PictureLink" class="form-control" hidden="hidden" />
            </div>
            <img style="width:300px;height:auto;min-height:150px; max-height:260px" src="@Href("~" + Model.PictureLink)" alt="Change picture" onerror="this.onerror = null" />

        </div>

    </form>

</div>

<div>
    <a asp-action="ManageItems">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
